*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #062047fb;
    height:fit-content;
    overflow-x: hidden;
}
header{
    background-image: url('./images/mountain.jpeg'); 
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: contain;
}
.align{
    width:100vw;
    display: flex;
    justify-content: space-around;
}
.align img{
    height: 60%;
    border-radius: 50%;
}
.img{
    padding: 30px;
}
.name{
    padding: 150px;
    font-size: 2rem;
    line-height: 240%;
}
#text{
    font-size: 5rem;
    color: rgba(7, 7, 36, 0.826);
}
.box1{
    background-color: rgba(50, 197, 230, 0.925);
    width: 1000px;
    height: 400px;
    margin-left: 30px;
    margin-top: 80px;
    border-radius: 8px;
}
.box2{
    background-color: rgba(50, 197, 230, 0.58);
   width: 1000px;
   height: 400px;
    margin-left: 450px;
    margin-top: 80px;
    border-radius: 8px;
}
.box3{
    background-color: rgba(50, 197, 230, 0.925);
width: 1000px;
height: 400px;
    margin-left: 30px;
    margin-top: 80px;
    border-radius: 8px;
}
.box4{
    background-color: rgba(50, 197, 230, 0.58);
    width: 1000px;
    height: 400px;
     margin-left: 450px;
     margin-top: 80px;
     border-radius: 8px;
}
#text4 ul{
    position: relative;
    left: 20px;
    line-height: 25px;
    padding-top: 20px;
    letter-spacing: 0.4px;
}
#heading1, #heading2, #heading3,#heading4{
    background-color:white;
    width: 500px;
    height: 45px;
    position: relative;
    top: 30px;
    left: 240px;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 8px;
}
#pic1, #pic2, #pic3,#pic4{
    background-color: white;
    width: 250px;
    height: 250px;
    position: relative;
    top: 80px;
    left: 50px;
    border-radius: 15px;
}
#text2 ul{
    position: relative;
    left: 20px;
}
#text3 ul{
    position: relative;
    left: 20px;
    line-height: 25px;
}
#text1, #text2, #text3, #text4{
    background-color: white;
    width: 640px;
    height: 230px;
    position: relative;
    bottom: 160px;
    left: 300px;
    font-size: 21px;
    padding: 12px;
    margin-left:30px;
    border-radius: 5px;
}
#image{
    height: 250px;
    border-radius: 15px;
}
.footer{
    background-color: transparent;
    width: 85%;
    height: 300px;
    position: relative;
    top: 90px;
    left: 100px;
    margin-top: 50px;
    margin-bottom: 400px;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    font-size: x-large;
    padding: 50px;
    padding-top: px;
}
#foot p{
    color: rgb(190, 185, 185);
    font-size: 26px;
}
footer img{
    width: 250px;
    height: 250px;
    margin-left: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.message{
    font-size: 35px;
    color:aliceblue;
    margin: 120px;
    text-align: center;
    padding-bottom: 250px;
}
 